@import 'tailwindcss';

@plugin 'tailwind-scrollbar-hide';

@custom-variant dark (&:is(.dark *));

@theme {
  --animate-tooltip-in: tooltipIn 0.15s ease-out;
  --animate-tooltip-out: tooltipOut 0.1s ease-in;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-hazard-1: #6ac828;
  --color-hazard-2: #f8f024;
  --color-hazard-3: #f88f2c;
  --color-hazard-4: #eb450b;
  --color-hazard-5: #1b1a1e;

  --color-primary: #ff6f00;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes scaleIn {
    from {
      transform: scale(0.95);
    }
    to {
      transform: scale(1);
    }
  }
  @keyframes scaleOut {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(0.95);
    }
  }
  @keyframes tooltipIn {
    from {
      opacity: 0;
      transform: scale(0.96);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  @keyframes tooltipOut {
    from {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: 0;
      transform: scale(0.96);
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* TODO: Uncomment while implementing Dark theme here https://app.asana.com/0/1208747689500826/1209621108648114 */

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
